@tailwind base;
@tailwind components;
@tailwind utilities;

/*!* Pretendard 폰트 적용 *!*/
@font-face {
    font-family: 'Pretendard';
    src: url('../public/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@layer base {
    html {
        @apply font-pretendard;
    }
}

/*!* 기본 스타일 설정 *!*/
/*html, body {*/
/*    @apply m-0 p-0 w-full h-full overflow-auto bg-gray-100 font-sans;*/
/*    font-family: 'Pretendard', sans-serif;*/
/*}*/

/*!* 스크롤바 숨기기 *!*/
/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*body {*/
/*    scrollbar-width: none; !* Firefox 전용 *!*/
/*}*/

/*!* 전체 화면 정렬 *!*/
/*body {*/
/*    @apply flex justify-center items-center;*/
/*}*/

/*!* 최상위 div 스타일 *!*/
/*#root {*/
/*    @apply w-full h-full;*/
/*}*/
